<div class="container">
    <div class="row">
        <div class="col-md-12 pt-5">
            <div class="jumbotron">
                <h1 class="display-4">What is this app?</h1>
                <p class="lead">This is a simple app that uses the api of spotify and some features of angular such as
                    http and http client. It also
                    uses bootstrap </p>
                <p class="text-danger">this app is only for learning purposes</p>
                <hr class="my-4">
                <p>This app was developed by Brayan Mora a software engineering, you can learn more about the spotify
                    documentation down
                    below.
                </p>
                <a class="btn btn-primary btn-lg" target="_blank"
                    href="https://developer.spotify.com/documentation/web-api/" role="button"><i
                        class="fab fa-spotify"></i> Learn more</a>
            </div>
        </div>
    </div>
</div>