/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 575px) {
  .responsive-card {
    margin: 90px;  
  }
}

@media only screen and (max-width: 460px) {
  .responsive-card {
    margin: 70px;  
  }
}

@media only screen and (max-width: 430px) {
  .responsive-card {
    margin: 60px;  
  }
}

@media only screen and (max-width: 400px) {
  .responsive-card {
    margin: 40px;  
  }
}

@media only screen and (max-width: 370px) {
  .responsive-card {
    margin: 20px;  
  }
}

@media only screen and (max-width: 340px) {
  .responsive-card {
    margin: 8px;  
  }
}

